#include <windows.h> // include for version info constants

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "custom\\openzelda-quest-designer.ico"


1 VERSIONINFO
FILEVERSION 0,9,4,750
PRODUCTVERSION 0,9,4,750
FILETYPE VFT_APP
{
	BLOCK "StringFileInfo"
	{
		BLOCK "0C0904E4"
		{
			VALUE "CompanyName", "Open Zelda"
			VALUE "FileVersion", "0.94"
			VALUE "FileDescription", "Quest Designer"
			VALUE "InternalName", "Meg"
			VALUE "LegalCopyright", "Open Zelda openzelda.net"
			VALUE "LegalTrademarks", ""
			VALUE "OriginalFilename", ""
			VALUE "ProductName", "Open Zelda"
			VALUE "ProductVersion", "1.8.0"
		}
	}
BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0C09, 1252
	}
}

